body {
  background-color: maroon;
}

.font{
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: bold;
}

.title{
  font-family: 'Lexend Zetta', sans-serif;
  color: white;
}

.fa-shopping-cart {
  color: white;
}

.card{
  background-color: antiquewhite;
}

.checkoutScreen{
  background-color: antiquewhite;
  color: maroon;
  border-radius: 1%;
}

.checkout:hover{
  text-decoration: none;
  background-color: none;
  cursor: context-menu;
}

.checkout{
  background-color: maroon;
  color: maroon;
  border: none;
}

.card-title:hover,
.fa-shopping-cart:hover,
.header:hover{
  cursor: pointer;
}

.card-title:hover{
  color: brown;
}

.fa-shopping-cart:hover,
.header:hover{
  color: black;
}

.banner-image{
  width: 100%;
  height: 56vh;
}

.jchan {
    position: absolute;
    top: 350px;
    left: 650px;
    font-size: 2.4rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5%;
}

#chan{
  font-size: 1rem;
}

.carousel-item > img {
  height: 40vh;
  width: 25vw;
}

.carousel {
  height: 40vh;
  width: 25vw;
}

.countNum {
  font-size: 1.2rem;
}

.confirmationontents{
  background-color: antiquewhite;
}

.no-items{
  border: 1px solid white;
}

.invalidInput{
  color: black;
  background-color: lightcoral;
}

/* ipad landscape */
@media only screen and  (min-width: 769px) and (max-width: 1024px){
  .carousel-item > img {
    height: 50vh;
    width: 40vw;
  }

  .carousel {
    height: 50vh;
    width: 40vw;
  }

}

/* ipad portait */
@media only screen and  (min-width: 737px) and (max-width: 768px) {
  .carousel-item > img {
    height: 30vh;
    width: 40vw;
  }

  .carousel {
    height: 30vh;
    width: 40vw;
  }
  .card-title{
    font-size: 1.5rem;
  }
}

/* iphone 6/7/8 landscape */
@media only screen and  (min-width: 601px) and (max-width: 736px){

  .listwork{
    width: 80vw;
    margin-left: 10vw;
  }


  .carousel-item > img {
    height: 50vh;
    width: 35vw;
  }

  .carousel {
    height: 50vh;
    width: 35vw;
  }

}

/* iphone 6/7/8 portait */
@media only screen and  (min-width: 0px) and (max-width: 600px) {
  .carousel-item > img {
    height: 36vh;
    width: 81vw;
  }

  .carousel {
    height: 36vh;
    width: 81vw;
  }

  .detailsImage{
    height: 40vh;
  }

    .card-title{
    font-size: 1.5rem;
  }

  h1.header {
    font-size: 2rem;
  }

  .banner-image{
    width: 100%;
    height: 40vh;
  }
}
